@use './variables';
@use './mixins';

:root {
  --hero-min-h: 568px;
  // --hero-min-h: 720px;
  --white: #fff;
}

/* layout setting */
html,
body {
  margin: 0;
  padding: 0;
  --z-index-dialog-open: 9999;
  --z-index-snack-bar-open: 1100;
  --z-index-dialog-close: -1000;

  * {
    box-sizing: border-box;
  }
}

html {
  font-family: sans-serif, 'Noto Sans TC', sans-serif;
  font-style: normal;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

figure {
  margin: 0;
}

button,
a {
  cursor: pointer;
}

canvas {
  pointer-events: none;
}

.noto-serif-tc {
  font-family: 'Noto Serif TC', serif;
}

.noto-sans-tc {
  font-family: 'Noto Sans TC', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.event-trigger {
  z-index: 1000;
  width: 100%;
  border: solid 1px red;

  pointer-events: none;
}

.leo-article {
  p {
    font-size: 18px;
    line-height: 36px;
  }

  p:not(.leo-caption) + p:not(.leo-caption) {
    margin-top: 36px;
  }
}

.leo-h3 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 8px;

  @include rwd-min(pad) {
    font-size: 28px;
    line-height: 40px;
  }
  @include rwd-min(pc) {
    font-size: 32px;
    line-height: 48px;
  }
}

.leo-h4 {
  font-size: 24px;
  line-height: 36px;

  @include rwd-min(pad) {
    font-size: 28px;
    line-height: 46px;
  }
}

.leo-h1,
.leo-h2,
.leo-h3,
.leo-h4,
.leo-h5 {
  &--no-mb {
    margin-bottom: 0;
  }
}

p.leo-caption {
  font-size: 15px;
  line-height: 22px;
  color: #9f9f9f;

  &--white {
    color: #fff;
  }
}

.leo-section {
  margin-top: 120px;
  margin-bottom: 120px;

  &--no-mt {
    margin-top: 0;
  }

  &--no-mb {
    margin-bottom: 0;
  }

  &--pt {
    padding-top: 120px;
  }

  &--pb {
    padding-bottom: 120px;
  }
}

.leo-section-chart {
  margin-top: 30px;
  margin-bottom: 30px;
}

.leo-section-chart-lg {
  margin-top: 30px;
  margin-bottom: 30px;

  @include rwd-min(pad) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  @include rwd-min(pc) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.leo-section-sm {
  margin-top: 40px;
  margin-bottom: 40px;

  &--no-mt {
    margin-top: 0;
  }

  &--no-mb {
    margin-bottom: 0;
  }

  &--pt {
    padding-top: 40px;
  }

  &--pb {
    padding-bottom: 40px;
  }
}

.leo-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include rwd-min(xxs) {
    padding-left: 26px;
    padding-right: 26px;
  }

  @include rwd-min(pad) {
    max-width: calc(530px + 57px * 2);
    padding-left: 57px;
    padding-right: 57px;
  }

  @include rwd-min(pc) {
    max-width: calc(620px + 110px * 2);
    padding-left: 110px;
    padding-right: 110px;
  }
}

.leo-container-pc {
  @include rwd-min(pc) {
    width: 100%;
    max-width: calc(620px + 110px * 2);
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.leo-container-larger {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include rwd-min(xxs) {
    padding-left: 26px;
    padding-right: 26px;
  }

  @include rwd-min(pad) {
    max-width: calc(530px + 57px * 2);
    padding-left: 57px;
    padding-right: 57px;
  }

  @include rwd-min(pc) {
    max-width: calc(640px + 110px * 2);
    padding-left: 110px;
    padding-right: 110px;
  }
}

.leo-container-card24 {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include rwd-min(xxs) {
    padding-left: 26px;
    padding-right: 26px;
  }

  @include rwd-min(pad) {
    max-width: calc(654px + 57px * 2);
    padding-left: 57px;
    padding-right: 57px;
  }

  @include rwd-min(pc) {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    max-width: calc(704px + 100px * 2);
  }
}

.leo-container-lg {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include rwd-min(xxs) {
    padding-left: 26px;
    padding-right: 26px;
  }

  @include rwd-min(pad) {
    max-width: calc(654px + 57px * 2);
    padding-left: 57px;
    padding-right: 57px;
  }

  @include rwd-min(pc) {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    max-width: calc(1060px + 100px * 2);
  }
}

.leo-text-box {
  padding: 40px 20px;
  border: solid 1px #808080;
  background-color: rgba(82, 82, 82, 0.4);

  // blur 10px
  @include mixins.blur(10px);

  @include rwd-min(xxs) {
    padding: 40px 26px;
  }

  @include rwd-min(pad) {
    padding: 40px 57px;
  }

  @include rwd-min(pc) {
    padding: 40px 48px;
  }
}

.leo-intro-h2 {
  font-size: 42px;
  line-height: 52px;
  font-weight: 500;
  margin-bottom: 8px;

  @include rwd-min(xxs) {
    font-size: 50px;
    line-height: 62px;
  }

  @include rwd-min(pad) {
    font-size: 72px;
    line-height: 1;
  }
}

.leo-intro-h2-sub {
  font-size: 22px;
  line-height: 32px;

  @include rwd-min(pad) {
    font-size: 24px;
    line-height: 36px;
  }
}

.leo-intro-h2-sub-lg {
  font-size: 22px;
  line-height: 1.5;

  @include rwd-min(xxs) {
    font-size: 28px;
    line-height: 40px;
  }

  @include rwd-min(pad) {
    font-size: 32px;
    line-height: 46px;
  }
}
